.li-navbar{
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.li-navbar:hover{
    background-color: #007BFF;
}
.li-navbar:active{
    background-color: #28A745;
}
.li-margin{
    margin-left: 5px;
}
/*div,li,ul{*/
    /*border-style: solid;*/
    /*border-color: black;*/
/*}*/
body{
    font-family: 微软雅黑;
    font-weight: bold;
}
.img-hover{
    width: 100%;
    height: auto;

}

.div-hover{
    background-color: gray;
    width: 100%;
    height: 200px;
    opacity: 0.5;
    text-align: center;
    position: absolute;
}
.div-title{
    font-size: 40px;
    font-family: 微软雅黑;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 23%;
}
.div-button{
    text-align: center;
    margin-top: 20px;
}
.span-user{
    margin-right: 10px;
    height: 100%;
}
.password-error{
    font-size: 15px;
    color: red;
    margin-top: 3px;
}
.emailHas{
    font-size: 15px;
    color: red;
    margin-top: 3px;
}